{% extends 'base.html.twig' %}

{% block header_title %}
    <h2 class="font-weight-bold">Bienvenue sur Todo List</h2>
    <h3>l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h3>
{% endblock %}

{% block body %}

    <div class="row">
        <a href="{{ path('task_create') }}" class="btn btn-success">Créer une nouvelle tâche</a>
        <a href="{{ path('task_list') }}" class="btn btn-info">Consulter la liste des tâches à faire</a>
        <a href="" class="btn btn-info">Consulter la liste des tâches terminées</a>
    </div>
{% endblock %}
