{% extends 'base.html.twig' %}

{% block header_title %}
    <h2 class="font-weight-bold">Bienvenue sur Todo List</h2>
    <h3 class="mb-3">L'application qui vous permettant de gérer l'ensemble de vos tâches sans effort !</h3>
{% endblock %}

{% block body %}

{% endblock %}
